<header>
	<div class="h-wrap">
		<h1 class="title"><a href="{{ $.Site.BaseURL }}">{{ .Site.Title }}</a> <small>{{ .Site.Params.description }}</small></h1>
		<a class="menu-icon" title="Menu"><span class="lines"></span></a>
	</div>
</header>
